* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  background: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
  top: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.nav-links a:hover {
    color: bisque;
}

/* HIDE CHECKBOX */
#menu-toggle {
  display: none;
}

/* HAMBURGER ICON */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .menu-icon {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #0a1aff;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links a {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  #menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}


  
 /* gallery */
.gallery-section {
    background-color: #eef7f6;
    padding: 70px 20px;
    text-align: center;
}

.gallery-content h2 {
    font-size: 34px;
    color: blue;
    margin-bottom: 18px;
}

.gallery-content p {
    font-size: 16px;
    color: #4f5d75;
    max-width: 620px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

.gallery-btn {
    display: inline-block;
    padding: 14px 36px;
    background-color: #00c6ff;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 600;
    transition: 0.3s
}

.gallery-btn:hover {
    background-color: white;
    transform: translateY(-2px);
}
@media (max-width: 480px) {
  .gallery-content h2 {
    font-size: 26px;
  }
}

